.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  flex-wrap: wrap;

  input,
  button {
    font-size: 2rem;
    padding: 0.25rem;
    border: 1px solid rgb(49, 165, 219);
  }
  button {
    background-color: rgba(37, 120, 158, 0.7);
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: rgba(37, 120, 158, 1);
  }
}
